<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>World of Cheese Launch HTML | Splunk</title>
    <link rel="shortcut icon" href="{{SPLUNKWEB_URL_PREFIX}}/static/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/pages/dashboard-simple-bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/worldofcheese/customfunnel.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/worldofcheese/table_expansion.css" />
    <!--[if IE 7]><link rel="stylesheet" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/sprites-ie7.css" /><![endif]-->
</head>
<body class="simplexml preload">
<div class="header">
    <div id="placeholder-splunk-bar">
        <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
    </div>
    <div id="placeholder-app-bar"></div>
</div>
<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="dashboard-header clearfix">
        <h2>World of Cheese Launch - Web Framework</h2>
        <p class="description"></p>
    </div>
    <div class="dashboard-row dashboard-row1">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                <div class="panel-element-row">

                    <div class="dashboard-element single" id="element1" style="width: 100%">
                        <div class="panel-head">
                            <h3>Game Revenue</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row dashboard-row2">
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel clearfix">
                <div class="panel-element-row">
                    <div class="dashboard-element table" id="main" style="width: 100%">
                        <div class="panel-head">
                            <h3>In-Game Sales</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel clearfix">
                <div class="panel-element-row">
                    <div class="dashboard-element chart" id="element2" style="width: 100%">
                        <div class="panel-head">
                            <h3>Top In-Game Purchases</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row dashboard-row3">
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel clearfix">
                <div class="panel-element-row">
                    <div class="dashboard-element map" id="element3" style="width: 100%">
                        <div class="panel-head">
                            <h3>Purchase Locations</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel clearfix">
                <div class="panel-element-row">
                    <div class="dashboard-element html" id="element4" style="width: 100%">
                        <div class="panel-body html">
                                <div><p></p><h3>Vertical!</h3><div id="funnel2"></div></div>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer"></div>
<script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/build/simplexml.min/config.js"></script>
<script type="text/javascript">
require.config({
    baseUrl: "{{SPLUNKWEB_URL_PREFIX}}/static/js",
    waitSeconds: 0 // Disable require.js load timeout
});
require([
    "splunkjs/mvc",
    "splunkjs/mvc/utils",
    "splunkjs/mvc/tokenutils",
    "underscore",
    "jquery",
    "splunkjs/mvc/simplexml",
    "splunkjs/mvc/headerview",
    "splunkjs/mvc/footerview",
    "splunkjs/mvc/simplexml/dashboard",
    "splunkjs/mvc/simplexml/element/chart",
    "splunkjs/mvc/simplexml/element/event",
    "splunkjs/mvc/simplexml/element/html",
    "splunkjs/mvc/simplexml/element/list",
    "splunkjs/mvc/simplexml/element/map",
    "splunkjs/mvc/simplexml/element/single",
    "splunkjs/mvc/simplexml/element/table",
    "splunkjs/mvc/simpleform/input/dropdown",
    "splunkjs/mvc/simpleform/input/radiogroup",
    "splunkjs/mvc/simpleform/input/text",
    "splunkjs/mvc/simpleform/input/timerange",
    "splunkjs/mvc/simpleform/input/submit",
    "splunkjs/mvc/searchmanager",
    "splunkjs/mvc/savedsearchmanager",
    "splunkjs/mvc/postprocessmanager",
    "splunkjs/mvc/simplexml/urltokenmodel",
    ],
    function(
        mvc,
        utils,
        TokenUtils,
        _,
        $,
        DashboardController,
        HeaderView,
        FooterView,
        Dashboard,
        ChartElement,
        EventElement,
        HtmlElement,
        ListElement,
        MapElement,
        SingleElement,
        TableElement,
        DropdownInput,
        RadioGroupInput,
        TextInput,
        TimeRangeInput,
        SubmitButton,
        SearchManager,
        SavedSearchManager,
        PostProcessManager,
        UrlTokenModel) {


        // AUTO-COMPILED JAVASCRIPT


        var pageLoading = true;

        //
        // Create form token namespaces
        //

        var urlTokenModel = new UrlTokenModel();
        mvc.Components.registerInstance('url', urlTokenModel);
        var defaultTokenModel = mvc.Components.getInstance('default', {create: true});
        var submittedTokenModel = mvc.Components.getInstance('submitted', {create: true});

        urlTokenModel.on('url:navigate', function() {
            defaultTokenModel.set(urlTokenModel.toJSON());
            if (!_.isEmpty(urlTokenModel.toJSON()) && !_.all(urlTokenModel.toJSON(), _.isUndefined)){
                submitTokens();
            } else {
                submittedTokenModel.clear();
            }
        });

        // Initialize non-input tokens
        defaultTokenModel.set(urlTokenModel.toJSON());

        var defaultUpdate = {};

        var submitTokens = function() {
            submitTokensSoon(pageLoading);  // captures from enclosing scope before debounce
        };

        var submitTokensSoon = _.debounce(function(updateHistory) {
            submittedTokenModel.set(defaultTokenModel.toJSON());
            urlTokenModel.saveOnlyWithPrefix('form\.', defaultTokenModel.toJSON(), {
                replaceState: updateHistory
            });
        });


        //
        // Create searches
        //

        var search1 = new SearchManager({
            "id": "search1",
            "latest_time": "$latest$",
            "earliest_time": "0",
            "search": "index=main sourcetype=access_combined action=purchase | stats count | eval revenue=\"$\" . tostring((count*19.99),\"commas\") | fields - count",
            "status_buckets": 0,
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true
        }, {tokens: true, tokenNamespace: "submitted"});

        var search2 = new SearchManager({
            "id": "search2",
            "latest_time": "now",
            // "earliest_time": "-60m@m",
            "search": "index=main sourcetype=ingameactions  | replace \"'*'\" with \"*\" in itemName  | bin _time span=20d  | stats count by _time, itemName | stats sum(count) as Sales, sparkline(sum(count)) as Sparkline by itemName | sort Sales desc",
            "status_buckets": 0,
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true
        }, {tokens: true, tokenNamespace: "submitted"});

        var search3 = new SearchManager({
            "id": "search3",
            "latest_time": "$latest$",
            "earliest_time": "0",
            "search": "index=main sourcetype=ingameactions | replace \"'*'\" with \"*\" in itemName | top itemName",
            "status_buckets": 0,
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true
        }, {tokens: true, tokenNamespace: "submitted"});

        var search4 = new SearchManager({
            "id": "search4",
            "latest_time": "$latest$",
            "earliest_time": "$earliest$",
            "search": "index=main sourcetype=vendor_sales | geostats latfield=VendorLatitude longfield=VendorLongitude count by product_name",
            "status_buckets": 0,
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true
        }, {tokens: true, tokenNamespace: "submitted"});


        //
        // Create header and footer Splunk UI
        //

        new HeaderView({
            id: 'header',
            section: 'dashboards',
            el: $('.header'),
            acceleratedAppNav: true
        }, {tokens: true}).render();

        new FooterView({
            id: 'footer',
            el: $('.footer')
        }, {tokens: true}).render();

        //
        // Create dashboard editing UI
        //

        new Dashboard({
            id: 'dashboard',
            el: $('.dashboard-body')
        }, {tokens: true}).render();

        //
        // Create components
        //

        var element1 = new SingleElement({
            "id": "element1",
            "managerid": "search1",
            "el": $('#element1')
        }, {tokens: true}).render();

        var main = new TableElement({
            "id": "main",
            "count": 10,
            "dataOverlayMode": "none",
            "displayRowNumbers": false,
            "drilldown": "row",
            "format": {"Sparkline": [{"type": "sparkline", "options": {"fillColor": "#CCDDFF", "height": "20", "lineColor": "#5379af", "lineWidth": "1"}}]},
            "wrap": "true",
            "managerid": "search2",
            "el": $('#main')
        }, {tokens: true}).render();

        var element2 = new ChartElement({
            "id": "element2",
            "charting.chart.sliceCollapsingThreshold": "0.01",
            "charting.axisY.scale": "linear",
            "charting.chart.nullValueMode": "gaps",
            "charting.chart": "pie",
            "charting.legend.placement": "right",
            "charting.layout.splitSeries": "0",
            "charting.drilldown": "all",
            "resizable": true,
            "charting.chart.stackMode": "default",
            "charting.axisX.scale": "linear",
            "charting.axisTitleY.visibility": "visible",
            "charting.axisTitleX.visibility": "visible",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.chart.style": "shiny",
            "managerid": "search3",
            "el": $('#element2')
        }, {tokens: true}).render();

        var element3 = new MapElement({
            "id": "element3",
            "resizable": true,
            "mapping.map.fitBounds": "(26,66.95,49.38,124.77)",
            "mapping.map.center": "(39.810646,-98.556976)",
            "mapping.tileLayer.maxZoom": "4",
            "mapping.data.maxClusters": "250",
            "mapping.seriesColors": "[0x5379af, 0x9ac23c, 0xf7902b, 0x956d95, 0x6ab7c7, 0xd85d3c, 0xfac51c, 0xdd86af]",
            "charting.legend.masterLegend": "null",
            "mapping.tileLayer.minZoom": "4",
            "managerid": "search4",
            "el": $('#element3')
        }, {tokens: true}).render();

        var element4 = new HtmlElement({
            "id": "element4",
            "el": $('#element4')
        }, {tokens: true}).render();


        //
        // Submit any form data
        //

        submitTokens();


        //
        // Signal the dashboard is done loading.
        //

        DashboardController.ready();
        pageLoading = false;

        // END OF AUTO-COMPILED JAVASCRIPT
    }
);
</script>
<script src="{{STATIC_URL}}{{app_name}}/funnel.js" type="text/javascript"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/worldofcheese/table_expansion_chart.js" type="text/javascript"></script>
</body>
</html>
